Order Allow,Deny
Allow from localhost 127.0.0.1 192.168.1
Satisfy Any

AuthType Basic
AuthName "Organizer"
AuthBasicProvider file
AuthUserFile /u/apps/organizer.sf.blolol.com/shared/authentication.htpasswd
Require valid-user

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
