body {
	padding: 25px 0 89px 0;
}

#site-navbar {
	margin-bottom: 25px;
}

ul.file-list {
	margin-left: 0;
	list-style-type: none;
}

ul.file-list > li {
	padding: 0.5em 0.75em;
	border-bottom: 1px solid #efefef;
	overflow: hidden;
	-webkit-transition: background-color 0.05s;
}

ul.file-list > li:last-child {
	border-bottom: none;
}

ul.file-list > li:nth-child(odd) {
	background-color: #f8f8f8;
}

ul.file-list > li:hover,
ul.file-list > li.movie:hover,
ul.file-list > li.tv-show:hover {
	background-color: #f8f6d7;
	border-bottom-color: rgb(229, 220, 189);
	-webkit-transition: background-color 0.25s;
}

ul.file-list > li.movie {
	background-color: rgb(230, 243, 215);
	border-bottom-color: rgb(200, 220, 178);
}

ul.file-list > li.tv-show {
	background-color: rgb(224, 238, 243);
	border-bottom-color: rgb(195, 219, 231);
}

ul.file-list .file-name {
	width: 80%;
	float: left;
}

ul.file-list .file-basename {
	display: block;
}

.file-basename:focus {
	outline: none;
}

.file-path {
	height: 1em;
	display: inline-block;
	color: #bbb;
	font-size: 11px;
	text-overflow: ellipsis;
}

.file-actions {
	margin-left: 0.5em;
	display: inline;
	float: right;
	position: relative;
	top: 4px;
}

.form-actions-fixed-bottom {
	width: 100%;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1030;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-actions p {
	position: relative;
	top: 5px;
	color: #777;
}
