body {
	padding: 25px 0 89px 0;
}

#site-navbar {
	margin-bottom: 25px;
}

ul.file-list {
	margin-left: 0;
	list-style-type: none;
}

ul.file-list > li {
	padding: 0.5em 0.75em;
	border-bottom: 1px solid #efefef;
	overflow: hidden;
	-webkit-transition: background-color 0.05s;
}

ul.file-list > li:last-child {
	border-bottom: none;
}

ul.file-list > li:nth-child(odd) {
	background-color: #f8f8f8;
}

ul.file-list > li:hover,
ul.file-list > li.delete:hover,
ul.file-list > li.ignore:hover,
ul.file-list > li.movie:hover,
ul.file-list > li.tv:hover {
	background-color: #f8f6d7;
	border-bottom-color: rgb(229, 220, 189);
	-webkit-transition: background-color 0.25s;
}

ul.file-list > li.delete {
	background-color: rgb(247, 226, 222);
	border-bottom-color: rgb(218, 190, 184);
}

ul.file-list > li.ignore {
	background-color: rgb(241, 223, 242);
	border-bottom-color: rgb(235, 191, 236);
}

ul.file-list > li.movie {
	background-color: rgb(230, 243, 215);
	border-bottom-color: rgb(200, 220, 178);
}

ul.file-list > li.tv {
	background-color: rgb(224, 238, 243);
	border-bottom-color: rgb(195, 219, 231);
}

ul.file-list .file-name {
	width: 75%;
	float: left;
}

ul.file-list .file-name small {
	height: 1em;
	display: inline-block;
	color: #bbb;
	font-size: 11px;
	text-overflow: ellipsis;
}

ul.file-list .file-basename {
	display: block;
}

.file-basename:focus {
	outline: none;
}

.file-actions {
	margin-left: 0.5em;
	display: inline;
	float: right;
	position: relative;
	top: 4px;
}

.form-actions-fixed-bottom {
	width: 100%;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1030;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: rgba(238, 238, 238, 0.9);
}

.form-actions p {
	position: relative;
	top: 5px;
	color: #777;
}

#loading {
	margin-top: 150px;
	text-align: center;
}

div.spinner {
	position: relative;
	width: 48px;
	height: 48px;
	display: inline-block;
}

div.spinner div {
	width: 12%;
	height: 26%;
	background: #777;
	position: absolute;
	left: 44.5%;
	top: 37%;
	opacity: 0;
	-webkit-animation: fade 1s linear infinite;
	-webkit-border-radius: 50px;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

div.spinner div.bar1 {-webkit-transform:rotate(0deg) translate(0, -142%); -webkit-animation-delay: 0s;}		 
div.spinner div.bar2 {-webkit-transform:rotate(30deg) translate(0, -142%); -webkit-animation-delay: -0.9167s;}
div.spinner div.bar3 {-webkit-transform:rotate(60deg) translate(0, -142%); -webkit-animation-delay: -0.833s;}
div.spinner div.bar4 {-webkit-transform:rotate(90deg) translate(0, -142%); -webkit-animation-delay: -0.75s;}
div.spinner div.bar5 {-webkit-transform:rotate(120deg) translate(0, -142%); -webkit-animation-delay: -0.667s;}
div.spinner div.bar6 {-webkit-transform:rotate(150deg) translate(0, -142%); -webkit-animation-delay: -0.5833s;}
div.spinner div.bar7 {-webkit-transform:rotate(180deg) translate(0, -142%); -webkit-animation-delay: -0.5s;}
div.spinner div.bar8 {-webkit-transform:rotate(210deg) translate(0, -142%); -webkit-animation-delay: -0.41667s;}
div.spinner div.bar9 {-webkit-transform:rotate(240deg) translate(0, -142%); -webkit-animation-delay: -0.333s;}
div.spinner div.bar10 {-webkit-transform:rotate(270deg) translate(0, -142%); -webkit-animation-delay: -0.25s;}
div.spinner div.bar11 {-webkit-transform:rotate(300deg) translate(0, -142%); -webkit-animation-delay: -0.1667s;}
div.spinner div.bar12 {-webkit-transform:rotate(330deg) translate(0, -142%); -webkit-animation-delay: -0.0833s;}

 @-webkit-keyframes fade {
	from {opacity: 1;}
	to {opacity: 0.25;}
}
